* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  height: 800px;
}
nav {
  height: 100px;
  width: 100%;
  background-color: rgb(46, 49, 51);
  align-content: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  color: rgb(255, 243, 243);
}

.chave {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: darkcyan;
  background-image: url(./imgs/pexels-victorfreitas-2261482.jpg);
  background-size: cover;
  background-position: center;
}
